
:root {
  --cor-primaria: #151320;
  --cor-sucesso: #00bf8e;
  --cor-alerta: #f7c94b;
  --cor-perigo: #f75842;
  --cor-perigo-variante: rgba(247, 88, 66, 0.4);
  --cor-branco: #fff;
  --cor-clara: rgba(255, 255, 255, 0.7);
  --cor-escura: #000;
  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
    
}

* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0; 
    list-style: none;         
    box-sizing: border-box;       
  }
  
  
  body {    
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: var(--cor-bg);    
    background-image: url(../img/bg-texture.png);
  }

  .card {
    position: relative;
    width: 340px;
    height: 460px;
    border-radius: 36px;
    overflow: hidden;
  }

  .card .card-bg {
    width: 100%;
    height: 100%;
  }

  .card .card-bg img {
    width: 100%;
    height: 100%;
    transition: .2s ease-out;
  }

  .card:hover .card-bg img {
    transform: scale(1.05);
  }

  .card .card-context {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38%;
    font-family: 'Poppins', sans-serif;   
    transform: translateY(68%);
    transition: .2s ease-out;
  }

  .card:hover .card-context {
    transform: translateY(0);
  }

  .card .card-context .dark-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background: linear-gradient(
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, .9));
    filter: blur(15px); 
    transition: .2s ease-out;
  }

  .card .card-context h2  {
    position: absolute;
    left: 32px;
    color: #fff; 
  }

  .card .card-context p {
    position: absolute;
    left: 32px;
    top: 36px;
    width: 82%;
    line-height: 20px;
    word-spacing: -2px;
    color: #f9f9f9;
    text-align: justify;
    opacity: 0;
    transition: .2 ease-out;
  }

  .card:hover .card-context p {
    opacity: 1;
  }

  .card .card-context button {
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 32px;
    color: var(--cor-escura);
    background: var(--cor-alerta);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    transition: .4s;
  }

  .card .card-context button:hover {
    background: #dfa319;
  }

  .card .card-icons {
    position: absolute;
    top: 32px;
    right: 32px;
    opacity: 0;
    transform: translateX(40px) scale(.5);
    transform-origin: top;
    transition: .2s ease-out;
  }

  .card:hover .card-icons {
    opacity: 1;
    transform: translateX(0);
  }

  .card .card-icons li {
    cursor: pointer;
    color: #000;
    background: #f9f9f9;
    font-size: 22px;
    margin: 0 0 10px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 3px;
    transition: .2s ease-out;
  }

  .card .card-icons li:hover {
    background: #dfa319;
    transform: translateX(-5px);
  }






  